<template>
    <div id="careers">
        <header>
            <div class="bg-img-fixed-content img_slide">
                <div class="bg-img-fixed"></div>
                <section class="home-promo">                    
                    <div class="innerPageSlide">
                        <img src="../assets/img/careers-head.png">
                    </div>
                </section>
            </div>
        </header>
        <section class="bg-white2">
			<div class="container">
				<div class="row text-center">
					<div class="title dp50">
                        <h4>Join us in building the FUTURE of Transportation!</h4>
                    </div>
					<p>Transportation is going to get crazier in the next few years. NOW is the biggest time after the invention of combustion engines that humanity is going to take a SUPER giant leap. We are making that transition happen, Pushing the industry forward and making a real impact on Transportation with Office Commute as a first step.</p>
				</div>
			</div>
		</section>
        <section class="quote-safety text-center mb30 mt20">
            <div id="quote">
                <p class="quote">“I could either watch it happen or be a part of it.”</p>
                <strong>— Elon Musk</strong>
            </div>
            <div class="row text-center">
                <br>
                <p>We are always looking for <strong>SuperStars</strong> to wear the Whistle Hat and join our young team!<br>
                Reach us on <a href="mailto:hello@whistledrive.com">hr@whistledrive.com</a></p>
            </div>
        </section>
        <section class="bg-white">
            
        </section>
    </div>
</template>
<script>
    export default {
        metaInfo: {
			title: 'Careers | WhistleDrive',
			meta: [
				{'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8'},
				{name: 'viewport', content: 'width=device-width, initial-scale=1'},
                {name: 'description', content: 'At WhistleDrive, you’ll do the best work of your career. Every day, you’ll solve new problems & build process & We support you with the learning you need to grow.'},
                {property: 'og:title', content: 'Careers | WhistleDrive'},
                {property: 'og:image', content: '../assets/img/logo.png'},
				{property: 'og:description', content: 'At WhistleDrive, you’ll do the best work of your career. Every day, you’ll solve new problems & build process & We support you with the learning you need to grow.'}
			],
			link: [
				{rel: 'canonical', href: 'https://www.whistledrive.com/careers'}
			]
		}
    }
</script>
