<template>
	<div class="home">
		<header>
			<div class="bg-lgray">
				<div class="row mb30 mt50">
					<div class="col-md-5 col-sm-12">
						<div class="hero-text-css" id="hero-brute">
							<h2 class="titlepro">						   
								<h1 id="home-hero-text">We move you
									<span class="txt-rotate" data-period="500" data-rotate='["Forward", "Safe", "Everyday"]'></span>
								</h1>
								<span id="home-hero-sub" class="bottom hero-img-sub">India's Fastest Growing<br/> Employee Transportation Company</span>
							</h2>
							<router-link :to="{name: 'contact'}" id="home-hero-btn" class="btn btn-transparent contactBtn">Contact Us</router-link>
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
						<div id="bgVideo" class="">
							<img class="hero-img hero-img-css mb20" id="home-hero-img" src="../assets/img/homepage.gif" >
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="bg-white">
			<div class="container">
				<div class="row title-r">
					<h2>THE PROCESS ENGINE THAT FUELS YOUR TRANSPORTATION
						<span class="titleMain_subtitle-normal mt20">Leading the Industry towards an organized sector with optimum utilization of technology. In simple terms, we get People, Process and Technology together. </span>
					</h2>
					<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
						<img src="../assets/img/group_5.png" alt="Group 5" class="img-responsive center-block">
						<h5 class="mt-2">Transportation As A Service (TAAS)</h5>
					</div>
					<div class="col-sm-12 text-center">
						<span class="titleMain_subtitle-normal">
							We believe that technology should be an integral part of transportation. And with our expertise on fleet management and ground operations backed with technology that is built with real experiences, it provides the eagle eye view and makes it effortless for the corporates.
						</span>
					</div>
					<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
						<span class="titleMain_subtitle-normal mt20"><i>Fleet + Software + On-ground Support</i></span>
					</div>
					<div class="col-sm-12 text-center">
						<span class="titleMain_subtitle-normal mt20">WhistleDrive - SPOC (Single Point of Contact) for all of your employee transportation requirements.</span>
					</div> 
				</div>
			</div>
		</section>
		<section class="bg-gray ">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 mb20">
						<div class="title-r">
							<h2>OUR SERVICES</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6 pt30 pb30" data-aos="fade-right">
							<div class="our_services_img_blog">
								<img src="../assets/img/whistle_fleet_img.png" class="img-responsive" alt="template">
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
						<div class="col-sm-12 col-md-6 p20" data-aos="fade-left">
							<div class="title">
								<h4>Whistle Fleet</h4>
							</div>
							<p>With an Industry Compliant Fleet managed by a specialized team gives us an edge to handle the operational complexities, involved in your employee journey. Whether you use Whistle Tech or any Employee Transportation Software, our fleet is fully capable of adopting it and extend 100% usage with zero resistance.</p>
							<router-link :to="{name: 'fleetServices'}" class="know_more">Know More <i class="fa fa-long-arrow-right"></i></router-link>
						</div>
					</div>
					<div class="row pb100">
						<div class="col-sm-12 col-md-6 pt100 pb30 text-right" data-aos="fade-right">
							<div class="title">
								<h4 class="text-right">Whistle Shuttle</h4>
							</div>
							<p>It isn’t about moving people, it’s about connecting people on the way. We provide B2B Shuttle Services for both the Last-Mile Connectivity from Metros and also across the city through a Point Pickup Model.</p>
							<router-link :to="{name: 'shuttleServices'}" class="know_more">Know More <i class="fa fa-long-arrow-right"></i></router-link>
						</div>
						<div class="col-sm-12 col-md-6" data-aos="fade-left">
							<div class="our_services_img_blog">
								<img src="../assets/img/whistle_shuttle_img.png" class="img-responsive" alt="template">
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6" data-aos="fade-right">
							<div class="our_services_img_blog">
								<img src="../assets/img/whistle_360_img2.png" class="img-responsive" alt="template">
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
						<div class="col-sm-12 col-md-6 p20" data-aos="fade-left">
							<div class="title">
								<h4>Whistle 360<sup>0</sup></h4>
							</div>
							<p>The Transportation service is not one-size-fits-all. With Whistle 360<sup>0</sup>, we provide a tailored & fully managed solution (Dedicated Fleet, Operations Team and a 24/7 Support Team) powered by Whistle Tech software.</p>
							<router-link :to="{name: 'corporateTransportation'}" class="know_more">Know More <i class="fa fa-long-arrow-right"></i></router-link>
						</div>
					</div>
					<div class="row pb100">
						<div class="col-sm-12 col-md-6 pt100 pb30 text-right" data-aos="fade-right">
							<div class="title">
								<h4 class="text-right">Whistle Tech</h4>
							</div>
							<p>Simplifying transportation for all the stakeholders with technology, information and support. The Technology that is built for extensive usability, automating the most of manual processes involved in the employee transportation.</p>
							<router-link :to="{name: 'techServices'}" class="know_more">Know More <i class="fa fa-long-arrow-right"></i></router-link>
						</div>
						<div class="col-sm-12 col-md-6" data-aos="fade-left">
							<div class="our_services_img_blog">
								<img src="../assets/img/whistle_tech_home_page.png" class="img-responsive" alt="template">
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-white">
			<div class="container">
				<div class="row" data-aos="fade"  data-aos-duration="3000">
					<div class="col-md-12">
						<div class="title-r">
							<h2>TRACKING &amp; MONITORING</h2>
						</div>
					</div>
					<div class="col-sm-12">
						<tabs pills justified id="trackingTabs">
							<tab title="Employee App">
								<div class="container">
									<div class="col-sm-12 col-md-3">
										<div class="tabs_cnt">
											<ul class="list-unstyled tabs_cnt_ul">
												<li>-&nbsp; Live Tracking with ETA</li>
												<li>-&nbsp; Weekly Schedule View</li>
												<li>-&nbsp; SOS Enabled</li>
												<li>-&nbsp; Number Masking for Privacy</li>
												<li>-&nbsp; Ad Hoc Request Feature</li>
											</ul>
										</div>
									</div>
									<div class="col-sm-12 col-md-9">
										<img src="../assets/img/mobile-dash.png" class="img-rounded pull-right employee_app_img">
									</div>
								</div>
							</tab>
							<tab title="End to End Control of Operations">
								<div class="container">
									<div class="col-sm-12 col-md-3">
										<div class="tabs_cnt">
											<ul class="list-unstyled tabs_cnt_ul">
												<li>-&nbsp; Eagle Eye View </li>
												<li>-&nbsp; Live Location Tracking</li>
												<li>-&nbsp; Trip Alerts</li>
											</ul>
										</div>
									</div>
									<div class="col-sm-12 col-md-9">
										<img src="../assets/img/employee_dashboard.png" class="img-rounded pull-right employee_dashboard_img">
									</div>
								</div>
							</tab>
						</tabs>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title-r">
							<h2 class="text-center">OUR SCALE</h2>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div id="countBlog">
							<img class="index-icons" src="../assets/img/cities_icon.png" alt=""><br>
							<span class="count">4 </span>+
							<h3>Cities </h3>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div id="countBlog">
							<img class="index-icons" src="../assets/img/clients.png" alt=""><br>
							<span class="count">50 </span>+
							<h3>Clients </h3>
						</div>
					</div>
					<div class="col-sm-12 col-md-4">
						<div id="countBlog">
							<img class="index-icons" src="../assets/img/Trips_icon.png" alt=""><br>
							<span class="count">1 Million </span>+
							<h3>Trips per month</h3>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="title-r">
							<h4 class="text-center">Hyderabad <span class="scale-dot"></span> Chennai <span class="scale-dot"></span> Bengaluru <span class="scale-dot"></span> Pune</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title-r">
							<h2>WE WORK WITH</h2>
						</div>
					</div>
					<div class="col-md-12 mt30">
						<slick-carousel :options="slickOptions">
							<img src="../assets/img/Dupont.png" alt="" width="100%">
							<img src="../assets/img/ADP.png" alt="" width="100%">
							<img src="../assets/img/broadway.png" alt="" width="100%">
							<img src="../assets/img/ford-smart.png" alt="" width="100%">
							<img src="../assets/img/Hitachi.png" alt="" width="100%">
							<img src="../assets/img/Aquity.png" alt="" width="100%">
							<img src="../assets/img/invesco.png" alt="" width="100%">
							<img src="../assets/img/ITC.png" alt="" width="100%">
							<img src="../assets/img/l-and-t.png" alt="" width="100%">
							<img src="../assets/img/teletext.png" alt="" width="100%">
						</slick-carousel>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-buy parallax process-rounded" data-stellar-background-ratio="0.5">
			<div class="container-fluid">
				<div class="row text-center">
					<div class="col-md-12">
						<h1 class="intro-text mt30 wow fadeInUp">
							Ready To Transform Your Employee Transportation?
						</h1>
						
						<p><router-link :to="{name: 'contact'}" class="btn btn-default btn-primary-corp-big"> Contact Us</router-link></p>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	import Slick from 'vue-slick'
	import '../assets/css/slick.css'
	export default {
		metaInfo: {
			title: 'WhistleDrive | An End to End Employee Transportation Solution',
			meta: [
				{'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8'},
				{name: 'viewport', content: 'width=device-width, initial-scale=1'},
				{name: 'description', content: 'WhistleDrive Provides Technology Enabled Employee Transportation Solution for corporates with fleet of cabs, software and on-ground logistics support.'},
				{property: 'og:title', content: 'WhistleDrive | An End to End Employee Transportation Solution'},
                {property: 'og:image', content: '../assets/img/logo.png'},
				{property: 'og:description', content: 'WhistleDrive Provides Technology Enabled Employee Transportation Solution for corporates with fleet of cabs, software and on-ground logistics support.'}
			],
			link: [
				{rel: 'canonical', href: 'https://www.whistledrive.com/'}
			]
		},
		components: {
			'slick-carousel': Slick
		},
		mounted() {
			var TxtRotate = function(el, toRotate, period) {
				this.toRotate = toRotate;
				this.el = el;
				this.loopNum = 0;
				this.period = parseInt(period, 10) || 2000;
				this.txt = '';
				this.tick();
				this.isDeleting = false
			}
			TxtRotate.prototype.tick = function () {
				var i = this.loopNum % this.toRotate.length;
				var fullTxt = this.toRotate[i];
				if(this.isDeleting) {
					this.txt = fullTxt.substring(0, this.txt.length - 1);
				} else {
					this.txt = fullTxt.substring(0, this.txt.length + 1);
				}
				this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';
				var that = this;
				var delta = 300 - Math.random() * 100;

				if (this.isDeleting) { delta /= 2; }

				if (!this.isDeleting && this.txt === fullTxt) {
					delta = this.period;
					this.isDeleting = true;
				} else if (this.isDeleting && this.txt === '') {
					this.isDeleting = false;
					this.loopNum++;
					delta = 500;
				}

				setTimeout(function() {
					that.tick();
				}, delta);
			}
			var elements = document.getElementsByClassName('txt-rotate');
			for (var i=0; i<elements.length; i++) {
				var toRotate = elements[i].getAttribute('data-rotate');
				var period = elements[i].getAttribute('data-period');
				if (toRotate) {
					new TxtRotate(elements[i], JSON.parse(toRotate), period);
				}
			}
		},
		data() {
			return {
				slickOptions: {
					autoplay: true,
					arrows: true,
					slidesToShow: 4,
					slidesToScroll: 1,
					responsive: [
						{
							breakpoint: 640,
							settings: {
								slidesToShow: 1,
								slidesToScroll: 1
							}
						},
						{
							breakpoint: 1023,
							settings: {
								slidesToShow: 2,
								slidesToScroll: 1
							}
						}
					]
				}
			}
		}
	}
</script>