<template>
    <div id="privacy-policy">
        <section class="bg-white bg-white2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mt100 mb20">
                        <h2 class="titleMain pt30">WHISTLEDRIVE QUALITY POLICY</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white">
            <div class="container">
                <div class="row title-r">
                    <h2 class="titleMain">OUR VISION</h2>
                    <p class="text-center">To be India’s Transportation Leader and build Technology Driven Solutions to enable Smart Urban Mobility.</p>
                </div>
            </div>
        </section>
        <section class="bg-white">
            <div class="container">
                <div class="row title-r">
                    <h2 class="titleMain">OUR MISSION</h2>
                    <p class="text-center"><span class="titleMain_subtitle-normal pb20">To build a Network of Smart Mobility Fleet to enable Office Commute for Corporates and Intra/Inter City Delivery of Goods for Businesses.</span></p>
                </div>
            </div>
		</section>
        <section class="bg-white">
            <div class="container">
                <div class="row title-r">
                    <h2 class="titleMain">QUALITY POLICY</h2>
                    <p class="text-center"><span class="titleMain_subtitle-normal pb20">To achieve highest standards of excellence in Technology enabled Transportation with at most focus on Safety, Hygiene and on time Services.</span></p>
                    <p class="text-center"><span class="titleMain_subtitle-normal pb20">In pursuit of our commitment to support the clients, we strive to constantly monitor the effectiveness of our service delivery, initiate improvements to our services, and comply with relevant legal requirements while doing so.</span></p>
                    <p class="text-center"><strong>-CEO</strong><br>Rakesh Munnanooru</p>
                </div>
            </div>
		</section>
    </div>
</template>