<template>
	<div class="fleet-services">
		<header>
			<div class="bg-gray">
				<div class="container">
					<div class="row mb30 mt50">
						<div class="col-md-5 col-sm-12 pl20 mb30" data-aos="fade-right">
							<div class="bannerText hero-text-css dp30">
								<h1 class="titlepro">                           
									<span class="middle" id="banner-text">Lets Fight The Pandemic<br>The Whistle Way!</span>
								</h1>
								<router-link :to="{name: 'contact'}" class="btn btn-transparent contactBtn">Contact Us</router-link>
							</div>
						</div>
						<div class="col-md-7 pr20 " data-aos="fade-left">
							<div id="bgVideo" class="">
								<img class="hero-img hero-img-css" alt="Whistle Fleet" src="../assets/img/ensuring_health_hygiene_1.png" >
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="bg-white">
			<div class="container">
				<div class="row title-r">
					<h2 class="titleMain">Ensuring Health &amp; Hygiene</h2>
					<p class="text-center"><span class="titleMain_subtitle-normal mt20">Wellness is the No.1 priority for all of us. With the pandemic making rounds around the country, it isn't safe to come out of homes for anybody.<br>But THE SHOW, businesses must go on, to keep our economy going!</span></p>
					<p class="text-center"><span class="titleMain_subtitle-normal mt20">In this regard, To help the corporates, we have deployed the best - <strong>The Whistle Practices</strong> of health & hygiene for a safer commute.</span></p>
				</div>
			</div>
		</section>
		<div class="fleetCnt">
			<section class="bg-gray bg-white2">
				<div class="container">
					<div class="row text-right">
						<div class="col-sm-12 col-md-6 pt100" data-aos="fade-right">
							<div class="title">
								<h4 class="text-right">Intelligent Routing to Avoid Hotspots</h4>
							</div>
							<p>Our routing algorithm plans the route considering the COVID free zones only. All the paths through the containment zones will not be assigned and those trips are auto-removed to ensure safety.</p>
							<p>In case of any cab entering into a red zone, it immediately alerts the driver and the admin team.</p>
						</div>
						<div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
							<div class="our_services_img_blog">
								<img src="../assets/img/intelligent_routing.png" alt="Intelligent Routing" class="img-responsive"  >
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-white bg-white2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 pt10 " data-aos="fade-right">
							<div class="our_services_img_blog">
								<img alt="Digitized Trips" src="../assets/img/the_mandatory_checks.png" class="img-responsive"  >
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
						<div class="col-sm-12 col-md-6 pt40 " data-aos="fade-left">
							<div class="title dp50 ">
								<h4>The Mandatory Checks</h4>
							</div>
							<p>
								<ul>
									<li>Cab Partner - Face mask</li>
									<li>Cab Partner - Temperature check</li>
									<li>Cab - Hygiene</li>
									<li>Cab - Sanitizer</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-gray bg-white2">
				<div class="container">
					<div class="row text-right">
						<div class="col-sm-12 col-md-6 pt100" data-aos="fade-right">
							<div class="title">
								<h4 class="text-right">Digitized Trips</h4>
							</div>
							<p>Trip authentication, key details and all the communication can be processed using the Employee Mobile Application. No human-human contact required!</p>
						</div>
						<div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
							<div class="our_services_img_blog">
								<img src="../assets/img/digitized_trips.png" alt="On-ground Operations" class="img-responsive"  >
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
					</div>
				</div>
			</section>					
			<section class="bg-white bg-white2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 pt50" data-aos="fade-right">
							<div class="our_services_img_blog">
								<img src="../assets/img/making_it_safe_for_employees_1.png" alt="Technology Ready" class="img-responsive"   style="max-width:85%;"> 
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
						<div class="col-sm-12 col-md-6 pt30" data-aos="fade-left">
							<div class="title"><br>
								<h4>Making it safe for Employees</h4>
							</div>                            
							<p>Employees can view the status of the checks using their mobile application even before entering the cab.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-gray bg-white2">
				<div class="container">
					<div class="row text-right">
						<div class="col-sm-12 col-md-6 pt100" data-aos="fade-right">
							<div class="title">
								<h4 class="text-right">Keeping it Transparent</h4>
							</div>
							<p>
								All the admins can view the status of the checks and other key details using their dashboard.
							</p>
						</div>
						<div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
							<div class="our_services_img_blog">
								<img src="../assets/img/keeping_it_transparent.png" alt="On-ground Operations" class="img-responsive"  >
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-white bg-white2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3 pt30" data-aos="fade-up">
							<div class="title"><br>
								<h4 class="text-center">We care!</h4>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-md-offset-3 pt50 proving-care" data-aos="fade-right">
							<div class="our_services_img_blog">
								<img src="../assets/img/proving_that_we_care.png" alt="Technology Ready" class="img-responsive" style="max-width:85%;"> 
							</div>
							<div class="visible-xs-block visible-sm-block pt20"></div>
						</div>
						<div class="col-sm-12 col-md-6 col-md-offset-3 text-center pt50" data-aos="fade-up">
							<p>Any vehicle or driver-partner isn’t fulfilling the best hygiene & safety standards will be not be allowed for the trip as it is not safe for employees and for themselves.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-buy parallax process-rounded" data-stellar-background-ratio="0.5">
				<div class="container-fluid">
					<div class="row text-center">
						<div class="col-md-12">
							<h1 class="intro-text mt30 wow fadeInUp">
								Ready To Transform Your Employee Transportation?
							</h1>							
							<p><router-link :to="{name: 'contact'}" class="btn btn-default btn-primary-corp-big"> Contact Us</router-link></p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</template>
<script>
	export default {
		metaInfo: {
			title: 'Wellness Feature | Cab & Driver Checks',
			meta: [
				{'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8'},
				{name: 'viewport', content: 'width=device-width, initial-scale=1'},
				{name: 'description', content: 'To help the corporates fight COVID 19, we have introduced Wellness feature in our platform which ensures the health & hygiene of cab partners.'},
				{property: 'og:title', content: 'Whistle Fleet | Tech Enabled Fleet Services'},
        {property: 'og:image', content: '../assets/img/logo.png'},
				{property: 'og:description', content: 'To help the corporates fight COVID 19, we have introduced Wellness feature in our platform which ensures the health & hygiene of cab partners.'}
			],
			link: [
				{rel: 'canonical', href: 'https://www.whistledrive.com/cab-and-driver-welness'}
			]
		}
	}
</script>