<template>
    <div id="whistle-tech">
        <header>
            <div class="bg-white">
                <div class="container">
                    <div class="row mb100 mt50">
                        <div class="col-md-6 pl20 mb30" data-aos="fade-right">
                            <div class="bannerText hero-text-css dp30" id="shuttle-text">
                            <h1 class="titlepro">                           
                                <span class="middle" id="banner-text">Driving Corporate Transport World Digital.<br></span>                                
                            </h1>
                                <router-link :to="{name: 'contact'}" class="btn btn-transparent mt10 contactBtn" >Contact Us</router-link><br>
                            </div>
                        </div>
                        <div class="col-md-6 mt30 pr20 " id="home-2"  data-aos="fade-left">
                            <div id="bgVideo mt50" class="">
                                <img class="hero-img hero-img-css" alt="Whistle Shuttle" src="../assets/img/whistle_tech_home_page.png" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="bg-white">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div id="countBlog">
                  <span class="count">25%</span>
                  <h3>Cost Optimization</h3>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div id="countBlog">
                  <span class="count">94%</span>
                  <h3>Efficiency</h3>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div id="countBlog">
                  <span class="count">95%</span>
                  <h3>OTAs</h3>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div id="countBlog">
                  <span class="count">99%</span>
                  <h3>ESAT</h3>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-white">
          <div class="container">
            <div class="row title-r">
              <h2 class="titleMain">Whistle Tech - What’s in it for you?</h2>
              <p class="text-center"><span class="titleMain_subtitle-normal">Customized Applications & dashboards make it easy for all the stakeholders to carry out their daily operations.</span></p>
              <div class="col-sm-6 col-md-4 text-center home-icons gray-text">
                <i class="fa wow fadeInUp fas" data-aos="fade-up">
                  <img src="../assets/img/employees-1.png" class="blue_icon">
                  <img src="../assets/img/employees-1-white.png" class="white_icon">
                </i>
                <div>
                  <h4>Employees</h4>
                  <p>
                    <ul class="list-unstyled text-center">
                      <li><i class="fa fa-check fa-blue"></i> Smart Mobile Application</li>
                      <li><i class="fa fa-check fa-blue"></i> Live Tracking</li>
                      <li><i class="fa fa-check fa-blue"></i> Advanced Safety & Security</li>
                      <li><i class="fa fa-check fa-blue"></i> Ad-hoc Request Feature</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 text-center home-icons gray-text">
                <i class="fa wow fadeInUp fas" data-aos="fade-up">
                  <img src="../assets/img/client-admin.png" class="blue_icon">
                  <img src="../assets/img/client-admin-white.png" class="white_icon">
                </i>
                <div>
                  <h4>Client Admin Team</h4>
                  <p>
                    <ul class="list-unstyled text-center">
                      <li><i class="fa fa-check fa-blue"></i> Eagle Eye View</li>
                      <li><i class="fa fa-check fa-blue"></i> Detailed Reports & Billing</li>
                      <li><i class="fa fa-check fa-blue"></i> Cab & Driver Compliance</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 text-center home-icons gray-text">
                <i class="fa wow fadeInUp fas" data-aos="fade-up">
                  <img src="../assets/img/vendor.png" class="blue_icon">
                  <img src="../assets/img/vendor-white.png" class="white_icon">
                </i>
                <div>
                  <h4>Vendors</h4>
                  <p>
                    <ul class="list-unstyled text-center">
                      <li><i class="fa fa-check fa-blue"></i> Mobile & Web Application</li>
                      <li><i class="fa fa-check fa-blue"></i> Ease of Fleet Management</li>
                      <li><i class="fa fa-check fa-blue"></i> Customized Reports & Billing</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="row title-r">
              <div class="col-sm-6 col-md-4 col-md-offset-2 text-center home-icons gray-text">
                <i class="fa wow fadeInUp fas" data-aos="fade-up">
                  <img src="../assets/img/supervisor.png" class="blue_icon">
                  <img src="../assets/img/supervisor-white.png" class="white_icon">
                </i>
                <div>
                  <h4>Supervisor</h4>
                  <p>
                    <ul class="list-unstyled text-center">
                      <li><i class="fa fa-check fa-blue"></i> Mobile & Web Application</li>
                      <li><i class="fa fa-check fa-blue"></i> Ad-hoc Flow</li>
                      <li><i class="fa fa-check fa-blue"></i> Ease of Management</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 text-center home-icons gray-text">
                <i class="fa wow fadeInUp fas" data-aos="fade-up">
                  <img src="../assets/img/drivers.png" class="blue_icon">
                  <img src="../assets/img/drivers-white.png" class="white_icon">
                </i>
                <div>
                  <h4>Drivers</h4>
                  <p>
                    <ul class="list-unstyled text-center">
                      <li><i class="fa fa-check fa-blue"></i> Easy To Use Application</li>
                      <li><i class="fa fa-check fa-blue"></i> Transparent Trip Data</li>
                      <li><i class="fa fa-check fa-blue"></i> 24/7 Support & Safety</li>
                      <li><i class="fa fa-check fa-blue"></i> Automated Alerts on Trips & Documents Expiry</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>				
          </div>
        </section>
        <div class="fleetCnt">
          <section class="bg-gray bg-white2">
            <div class="container">
              <div class="row title-r mt30">
                <h2 class="titleMain">Full control over the transport operations, at all times</h2>
              </div>
              <div class="row">
                  <div class="col-sm-12 col-md-6 pb10" data-aos="fade-right">
                    <div class="our_services_img_blog">
                      <img src="../assets/img/live-tracking.png" alt="Live Tracking" class="img-responsive"  >
                    </div>
                    <div class="visible-xs-block visible-sm-block pt20"></div>
                  </div>
                  <div class="col-sm-12 col-md-6 pt20" data-aos="fade-left">
                    <div class="title">
                      <h4>Live Tracking</h4>
                    </div>
                    <p>We can Track! The Admin teams can now have a complete overview of the transport operations and also will be able to get real-time updates /alerts in case of any issues during the trip.</p>
                  </div>
              </div>
            </div>
          </section>
          <section class="bg-white bg-white2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6 pt50 text-right" data-aos="fade-right">
                  <div class="title">
                    <h4 class="text-right">Customized Reports</h4>
                  </div>
                  <p>The Insights! These actionable insights will help the admin teams and key stakeholders in making informed decisions. You can also view historical trip data along with the <strong>play vehicle movement.</strong></p>
                </div>
                <div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
                  <div class="our_services_img_blog">
                      <img src="../assets/img/customized-reports.png" alt="Point Pickup Model" class="img-responsive"  >
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-gray bg-white2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6 pt50 " data-aos="fade-right">
                  <div class="our_services_img_blog">
                    <img src="../assets/img/compliance-1.png" alt="OTP Authentication" class="img-responsive"  >
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
                <div class="col-sm-12 col-md-6 pt50" data-aos="fade-left">
                  <div class="title">
                    <h4>Compliance</h4>
                  </div>
                  <p>You can keep track of it! Now the stakeholders can keep a track of compliance documents of every driver effortlessly. In addition, we can set reminders of expiring documents that help in maintaining 100% compliance!</p>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-white bg-white2">
            <div class="container">
              <div class="row title-r mt30">
                <h2 class="titleMain">Ensuring safety, comfort, and support in every trip</h2>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 text-right" data-aos="fade-right">
                  <div class="title">
                    <h4 class="text-right">Safety features</h4>
                  </div>
                  <p>With advanced safety features like Number Masking, Emergency Alert, Location Sharing and Safe Drop Confirmation, and dedicated customer support 24/7, Employees can now travel with Confidence!</p>
                </div>
                <div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
                  <div class="our_services_img_blog">
                      <img src="../assets/img/safety-features.png" alt="Safety Features" class="img-responsive"  >
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-gray bg-white2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6 pt50 " data-aos="fade-right">
                  <div class="our_services_img_blog">
                    <img src="../assets/img/trip-tracking.png" alt="Trip Tracking" class="img-responsive center-block img-50">
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
                <div class="col-sm-12 col-md-6 pt50" data-aos="fade-left">
                  <div class="title">
                    <h4>Trip Tracking</h4>
                  </div>
                  <p>The Employee can get real updates on their driver location and also the estimated arrival time based on the current traffic. This helps the employee in planning their commute with reduced waiting time and improved satisfaction.</p>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-white bg-white2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6 pt50 text-right" data-aos="fade-right">
                  <div class="title">
                    <h4 class="text-right">Play Vehicle Movement</h4>
                  </div>
                  <p>All trips and vehicle movements are recorded on Maps along with timestamps and alerts and can be re-watched at any point of time for scrutiny.</p>
                </div>
                <div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
                  <div class="our_services_img_blog">
                      <img src="../assets/img/play-vehicle-movement.png" alt="Point Pickup Model" class="img-responsive"  >
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-gray bg-white2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6 pt50 " data-aos="fade-right">
                  <div class="our_services_img_blog">
                    <img src="../assets/img/group-5.png" alt="Trip Communications" class="img-responsive img-50 center-block">
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
                <div class="col-sm-12 col-md-6 pt50" data-aos="fade-left">
                  <div class="title">
                    <h4>Trip Communications</h4>
                  </div>
                  <p>Alerts on every important trip update. All the communications between driver, employee, and supervisor are made in-app for employee privacy.</p>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-white bg-white2">
            <div class="container">
              <div class="row title-r mt30">
                <h2 class="titleMain">Making it easy for the one who manages!</h2>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 text-right" data-aos="fade-right">
                  <div class="title">
                    <h4 class="text-right">Trip Modifications</h4>
                  </div>
                  <p>For any last-minute changes! Now the supervisors can create a new trip or modify the planned trips at ease.</p>
                </div>
                <div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
                  <div class="our_services_img_blog">
                      <img src="../assets/img/trip-modifications.png" alt="Trip Modifications" class="img-responsive">
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-gray bg-white2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6 pt50 " data-aos="fade-right">
                  <div class="our_services_img_blog">
                    <img src="../assets/img/trip-alerts-monitoring.png" alt="Trip Alerts & Monitoring" class="img-responsive center-block">
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
                <div class="col-sm-12 col-md-6 pt50" data-aos="fade-left">
                  <div class="title">
                    <h4>Trip Alerts & Monitoring</h4>
                  </div>
                  <p>Trip alerts give live updates to supervisors on late-boardings, cab over speeding, trip delays, escort trips, employee safe drop-offs, and emergency alerts, etc and can monitor the real-time trip status which helps in ensuring the smooth flow of daily operations.</p>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-white bg-white2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6 pt50 text-right" data-aos="fade-right">
                  <div class="title">
                    <h4 class="text-right">Uploading Cab & Driver Documents</h4>
                  </div>
                  <p>The supervisors can verify the cab & driver documents and upload to the platform using their mobile application. The supervisor also receives alerts incase of nearing dates of document renewals and can communicate the same with the cab partners.</p>
                </div>
                <div class="col-sm-12 col-md-6 pt50 pb60" data-aos="fade-left">
                  <div class="our_services_img_blog">
                      <img src="../assets/img/vehicle-driver-registration.png" alt="Uploading cab & Driver Documents" class="img-responsive center-block">
                  </div>
                  <div class="visible-xs-block visible-sm-block pt20"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="bg-buy parallax process-rounded" data-stellar-background-ratio="0.5">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col-md-12">
                  <h1 class="intro-text mt30 wow fadeInUp">
                    Ready To Transform Your Employee Transportation?
                  </h1>
                  <p><router-link :to="{name: 'contact'}" class="btn btn-default btn-primary-corp-big"> Contact Us</router-link></p>
                </div>
              </div>
            </div>
          </section>
        </div>
    </div>
</template>
<script>
    export default {
        metaInfo: {
			title: 'Whistle Shuttle | Corporate Shuttle Services',
			meta: [
				{'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8'},
				{name: 'viewport', content: 'width=device-width, initial-scale=1'},
                {name: 'description', content: 'Whistle Shuttle is an Technology powered bus shuttle services for last mile connectivity across the city.'},
                {property: 'og:title', content: 'Whistle Shuttle | Corporate Shuttle Services'},
                {property: 'og:image', content: '../assets/img/logo.png'},
				{property: 'og:description', content: 'Whistle Shuttle is an Technology powered bus shuttle services for last mile connectivity across the city.'}
			],
			link: [
				{rel: 'canonical', href: 'https://www.whistledrive.com/shuttle-services'}
			]
		}
    }
</script>